@import "./scss/index.scss";

.nav-block {
    display: inline-block;
    min-width: 190px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #549688;
    background-color: #549688;
    margin: 5px;

    &__link {
        display: block;
        text-decoration: none;
        color: #fff;

        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }

    &:hover {
        transition: 0.3s;
        background-color: #48C0a4;
        border-color: #48C0a4;
    }
}
